.wrapper {
    box-sizing: border-box;
    position: absolute;
    width: 40vw;
    min-height: 50vh;
    left: 50%;
    top: 25%;
    right: 50%;
    text-align: center;
    margin-top: 1%;
    padding: 50px;
}

.title {
    margin-bottom: 5%;
}

.valuetitle {
    margin-bottom: 5%;
}

.btn-lg:checked {
    border: 0;
}
/* Grid styling */
.grid-cl {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-cl * {
    border-radius: 5%;
    width: 75px;
    height: 75px;
    margin: 1px;
}

.buttonmod {
    background-color: orange;
    border: none;
    margin: 0;
}